:host {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: repeating-linear-gradient(125deg, rgba(255, 187, 51, 0.3), rgba(199, 146, 39, 0.3) 5px, rgba(199, 146, 39, 0.3) 0, rgba(255, 187, 51, 0.3) 3px);
  min-height: 30px;
  flex-basis: 30%;
  padding: 10px;
  max-height: calc(100vh - 140px);
  position: sticky;
  top: 0;
}


.checkout {
  padding: 5px;
}

.total-sum {
  margin-top: auto;
}

.cart-name {
  height: 56px;
  border: 2px solid rgba(214, 154, 127, 0.5);
  font-size: 32px;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}
