:host {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  max-width: 100vw;

  div {
    display: flex;
  }
}

.header {
  background-color: grey;
  margin: 10px;
  height: 200px;
}